/* 스크롤 디자인 */
/* Firefox */
html {scrollbar-width: 10px;;scrollbar-color: #222 #f1f1f1;}
/* Opera */
html::-o-scrollbar {width: 10px;}/*스크롤바 크기*/
html::-o-scrollbar-thumb {background-color: #222;border-radius: 5px;}/*스크롤 드래그바*/
html::-o-scrollbar-thumb:hover {background-color: #555;}
/* Chrome, Safari, Edge 등 웹킷 기반 브라우저 */
::-webkit-scrollbar {width: 10px;}/*스크롤바 크기*/
::-webkit-scrollbar-track {box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);}/*스크롤바 배경*/
::-webkit-scrollbar-thumb {background-color: #222;border-radius: 5px;}/*스크롤 드래그바*/
::-webkit-scrollbar-thumb:hover {background-color: #555;}

/* header */
header {
    width:100%; background:rgb(255, 255, 255, 0.7);
    position:fixed; left:0; top:0; z-index:999;
}
header .head_bg {
    width:calc(100% - 60px); margin:0 auto; /* padding:10px 0; */
    display:flex; flex-flow:row nowrap; align-items:center; justify-content:space-between;
}
header h1 {width:150px; height:50px; }
header h1 a {}
header h1 a img {width:100%;}
header nav > ul {display:flex; flex-flow:row nowrap;}
header nav > ul > li {
    text-align:center; line-height:50px; position:relative; 
    margin-right:20px;
}
header nav > ul > li:last-child {margin-right:0;}
header nav > ul > li > a {
    font-size:1.125rem; padding:15px 25px; transition:all 0.3s;
    line-height:70px;
}
header nav > ul > li > a::after {
    content:''; display:inline; width:100%; height:2.5px;
    border-radius:10p x;;
    position:absolute; left:0; right:0; bottom:10px;
    background:#222; transform:scale(0);
    transition:all 0.3s linear;
}
header nav > ul > li > a:hover {font-weight:700;}
header nav > ul > li > a:hover::after {transform:scale(0.8);}
header nav > ul > li > ul {
    position:absolute; background:#eee; width:100%; 
    padding-bottom:10px;
}
header nav > ul > li > ul > li {}
header nav > ul > li > ul > li > a {
    display:block; padding:10px; transition:all 0.3s;
}
header nav > ul > li > ul > li > a:hover {
    border-bottom:1px dashed #222; font-weight:500;
}
header nav li:last-child {margin-right:0;}
header .gnb {display:flex; flex-flow:row nowrap; align-items:center;}
header .gnb a {width:25px; height:25px; display:block;}
header .gnb a img {width:100%;}
header .gnb a:nth-child(2) {margin:0 20px;}

/* m_menu */
header .head_bg #all_m_menu {
    position:relative; width:25px; height:20px;
    display:none; margin-left:15px;
    cursor: pointer;
}
header .head_bg #all_m_menu span {
    display: block; width:100%; height:3px; border-radius:10px;
    color: #222; background-color:#222; 
    position:absolute; opacity:1; left:0;
}
header .head_bg #all_m_menu span:nth-child(1) {top: 0;}
header .head_bg #all_m_menu span:nth-child(2) {top: 9px;}
header .head_bg #all_m_menu span:nth-child(3) {top: 18px;}
/* open-m_menu */
header .open_m_menu {
    width:100%; height:100vh;
    background:#eee; padding:10px 40px 30px 20px;
    position:fixed; right:0; top:0; z-index:9999;
    /* box-shadow:rgba(100,100,100,0.2) -10px 10px 10px; */
    overflow-y:auto;
    /* 웹브라우저 y축 기준으로 내용이 넘칠 경우 스크롤을 표시하고 넘치치 않다면 스크롤 숨김 */
}
header .open_m_menu h1 {
    width:130px; height:38px; 
    margin-bottom:50px;}
header .open_m_menu h1 a {}
header .open_m_menu h1 a img {width:100%;}
header .open_m_menu #close {position:absolute; top:24px; right:40px;}
header .m_menu {width:100%; padding:10px;}
header .m_menu > li {}
header .m_menu > li > a {
    display:flex; flex-flow:row nowrap; justify-content:space-between;
    padding:30px 5px; border-bottom:1px dashed #aaa; color:#222;
    transition:0.3s;
}
header .m_menu > li > a:hover {background:#d3d2d2;}
header .m_menu > li > a > span {font-size:1rem; font-weight:500;}
header .m_menu > li > a > .fa-rotate-90 {}
header .m_menu > li > .sub_menu {margin-top:10px;}
header .m_menu > li > .sub_menu li {}
header .m_menu > li > .sub_menu > li > a {
    display:block; color:#222; font-size:0.875rem;
    padding:18px 0;
}
header .m_menu > li > .sub_menu > li > a:hover {background:#d3d2d2;}
header .open_m_menu .m_menu_gnb {
    width:100%; text-align:center;
    margin-top:170px; display:flex; flex-flow:row nowrap;
    
}
header .open_m_menu .m_menu_gnb a {
    display:block; border:1px solid #aaa;
    width:calc(50% - 5px); margin-right:5px;
    padding:15px 10px; font-size:1rem;
    background:#d3d2d2;
}
header .open_m_menu .m_menu_gnb a:last-child {margin-right:0;}

/* m_menu 오픈전 */
/* #menu-wrap #m-menu span:nth-child(1) {top: 0;}
#menu-wrap #m-menu span:nth-child(2) {top: 9px;}
#menu-wrap #m-menu span:nth-child(3) {top: 18px;}
/* m_menu 오픈 */
/* #menu-wrap #m-menu.open span:nth-child(1) {
    top: 9px;
    -webkit-transform: rotate(135deg); transform: rotate(135deg);
}
#menu-wrap #m-menu.open span:nth-child(2) {opacity: 0; left: -60px;}
#menu-wrap #m-menu.open span:nth-child(3) {
    top: 9px;
    -webkit-transform: rotate(-135deg); transform: rotate(-135deg);
}


/* footer */
footer {
    width:calc(100% - 60px); margin:0 auto; padding:70px 0;
    /* position:fixed; left:0; bottom:0;
    z-index:-5; */
}
footer .f_top {
    display:flex; flex-flow:row nowrap; justify-content:space-between; 
    padding:10px 0;
    border:1px solid #aaa; border-left:none; border-right:none;
}
footer .f_top .left {display:flex; flex-flow:row nowrap;}
footer .f_top .left a {padding:5px;}
footer .f_top .left a::after {
    content:''; display:inline-block; width:1px; height:11px;
    background-color:#555; margin:0 5px 0 20px;
}
footer .f_top .left a:last-child::after {display:none;}
footer .f_top .right {display:flex; flex-flow:row nowrap;}
footer .f_top .right a {
    width:30px; height:30px; display:inline-block; margin-right:5px;
}
footer .f_top .right a:last-child {margin-right:0;}
footer .f_top .right a img {width:100%;}
footer .f_btm {
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;
    padding:10px 0;
}
footer .f_btm .left {width:70%;}
footer h1 {width:150px; line-height:50px;}
footer h1 a {}
footer h1 a img {width:100%;}
footer .f_btm .left address {letter-spacing:-0.02rem; line-height:25px;}
footer .f_btm .left p{letter-spacing:-0.02rem; line-height:50px}
footer .f_btm .right {
    background:#f1f1f1; padding:20px;
    display:flex; flex-flow:column nowrap; 
}
footer .f_btm .right > * {margin-bottom:10px;}
footer .f_btm .right p {}
footer .f_btm .right .tel {font-size:1.333rem; font-weight:700;}
footer .f_btm .right .info {letter-spacing:-0.02rem; line-height:20px; }
footer .f_btm .right a:nth-child(4) {
    padding:5px; background:#000; margin-bottom:0;
    align-self:flex-start;
}
footer .f_btm .right a:nth-child(4),
footer .f_btm .right a .fa-solid {color:#fff;}