/* main */
main {width:100%;}
main section* {width:calc(100% - 60px); margin:0 auto;}
/* main - 메인 슬라이드 영역 */
main #main_slide {width:100%; height:100vh;}
main #main_slide .swiper-wrapper {position:relative;}
main #main_slide .swiper-wrapper .swiper-slide {}
/* 슬라이드 txt영역 */
main #main_slide .txt-box {
    position: absolute; left:50%; top:65%;
    box-sizing: border-box;
    width: 90%;
    padding: 0 2.0rem;
    transform: translate(-50%, -60%);
    z-index: 10;
}
main #main_slide .txt-box > h2 {
    color: #000;
    font-size: 3rem; font-weight: 700;
    line-height: 70px; word-break: keep-all;
    transform: translateY(20px);
    opacity: 0;
    transition: 1s 0.2s;
}
main #main_slide .txt-box > p {
    color: #000; font-size: 1.375rem; line-height:35px;
    margin-top: 400px; 
    transform: translateY(20px);
    opacity: 0;
    /* word-break: keep-all; */
    transition: 1s 0.4s;
}
main #main_slide .txt-box > h2,
main #main_slide .txt-box > p {
    transform: translateY(0);
    opacity: 1;
}
main #main_slide .txt-box > a {
    font-size:1.333rem; letter-spacing:-0.02rem; padding:10px 15px;
    border:1px solid #000; border-radius:50px;
    display:inline-block; margin-top:10px;
}
main #main_slide .swiper-wrapper .swiper-slide .txt-box a:hover {
    background:#000; border:none;
}
main #main_slide .txt-box a:hover >* {
    color:#fff;
}
main #main_slide .swiper-wrapper .swiper-slide .txt-box a span {
    letter-spacing:-0.02rem; margin-right:20px;
}
/* slide1 */
main #main_slide .swiper-wrapper .slide1 {
    background:url(../image/bnr_bg1.jpg) no-repeat center;
    background-size:cover;
}
/* slide2 */
main #main_slide .swiper-wrapper .slide2 {
    background:url(../image/bnr_bg6.jpg) no-repeat center;
    background-size:cover;
}
main #main_slide .slide2 .txt-box p {width:40%;}
main #main_slide .slide2 .txt-box h2 img {width:50%;}
/* slide3 */
main #main_slide .swiper-wrapper .slide2 h2 img {width:50%; margin-top:15px;}
main #main_slide .swiper-wrapper .slide3 {
    background:url(../image/main_bnr1_1920px.jpg) no-repeat center;
    background-size:cover;
}
/* slide-pagination */
main #main_slide .swiper-pagination-bullet {
    /* pagination은 기본이 파란색 bullet */
    background-color:black;
} 
/* 슬라이드 이전, 다음버튼 */
main #main_slide .swiper-button-prev, 
main #main_slide .swiper-button-next {width:50px; height:50px;}
main #main_slide .swiper-button-prev {
    background:url(../image/bnr_slide_prev.png) no-repeat;
}
main #main_slide .swiper-button-next {
    background:url(../image/bnr_slide_next.png) no-repeat;
}
main #main_slide .swiper-button-prev::after,
main #main_slide .swiper-button-next::after {display:none;}

/* 상품리스트 영역 */
main section {
    text-align:center; padding:70px 0;
}
main section h2 {
    font-size:2.369rem; font-weight:700; letter-spacing:-0.02rem; margin-bottom:30px;
}
main section .swiper {max-width:70%; height:600px; margin:0 auto;}
main section .swiper .swiper-wrapper {}
main section .swiper .swiper-wrapper .swiper-slide {
    margin-right:20px; /* background:palevioletred; */
    width:(100% - 20px);
}
main section .swiper .swiper-wrapper .swiper-slide > a {
    display:block; margin-bottom:15px; width:100%; height:70%; overflow:hidden;
}
main section .swiper .swiper-wrapper .swiper-slide a img {}
main section .swiper .swiper-wrapper .swiper-slide .contents {text-align:left;}
main section .swiper .swiper-wrapper .swiper-slide .contents >* {margin-bottom:10px;}
main section .swiper .swiper-wrapper .swiper-slide .contents h1 {}
main section .swiper .swiper-wrapper .swiper-slide .contents h1 a {
    font-size:1.25rem; letter-spacing:-0.02rem; font-weight:500;
}
main section .swiper .swiper-wrapper .swiper-slide .contents .price >* {margin-right:10px;}
main section .swiper .swiper-wrapper .swiper-slide .contents .price em {
    font-size:1.25rem; letter-spacing:-0.02rem; font-weight:500;
}
main section .swiper .swiper-wrapper .swiper-slide .contents .price del {
    text-decoration:line-through; color:#999;
}
main section .swiper .swiper-wrapper .swiper-slide .contents .price span {
    font-size:1.125rem; letter-spacing:-0.02rem; font-weight:500; color:#CD3142
}
main section .swiper .swiper-wrapper .swiper-slide .contents p {}
main section .swiper .swiper-wrapper .swiper-slide .contents p img {}
main section .swiper .swiper-wrapper .swiper-slide .contents .ect {margin-top:15px;}
main section .swiper .swiper-wrapper .swiper-slide .contents .ect >* {
    padding:5px; border:1px solid #000; 
    font-size:0.75rem; letter-spacing:-0.02rem;
}
/* 슬라이드 페이지네이션 */
main section .swiper .swiper-pagination {bottom:0;}
main section .swiper .swiper-pagination-bullet {
    /* pagination은 기본이 파란색 bullet */
    background-color:black;
} 
/* 슬라이드 이전, 다음버튼 */
main section .swiper .swiper-button-prev, 
main section .swiper .swiper-button-next {
    width:50px; height:50px; margin:-120px 0 0;
}
main section .swiper .swiper-button-prev {
    background:url(../image/prev.png) no-repeat;

}
main section .swiper .swiper-button-next {
    background:url(../image/next.png) no-repeat;
}
main section .swiper .swiper-button-prev::after,
main section .swiper .swiper-button-next::after {display:none;}
/* 베스트상품 개별영역 */
main #best_sellers #best_slide .swiper-wrapper .swiper-slide .contents .ect .new {
    color:#CD3142; border-color:#CD3142;
}
/* 신상품 개별영역 */
main #new_arrivals #new_slide .swiper-wrapper .swiper-slide .contents .ect .only {
    color:#fff; background-color:#9CBDE8; border:none;
}
main #best_sellers #best_slide .swiper-wrapper .item1 {}
main #best_sellers #best_slide .swiper-wrapper .item2 {}
main #best_sellers #best_slide .swiper-wrapper .item3 {}
main #best_sellers #best_slide .swiper-wrapper .item4 {}
main #best_sellers #best_slide .swiper-wrapper .item5 {}
main #best_sellers #best_slide .swiper-wrapper .item6 {}
/* 하단 슬라이드 영역 */
main #bnr_slide {
    width:100%; height:200px; margin-bottom:0;
}
main #bnr_slide .swiper-wrapper {}
main #bnr_slide .swiper-wrapper .swiper-slide {
    background:url(../image/adv_bnr.jpg) no-repeat center;
    background-size:cover;
}
main #bnr_slide .swiper-wrapper .slide1 {}
main #bnr_slide .swiper-wrapper .slide2 {}
main #bnr_slide .swiper-wrapper .slide3 {}
/* visual */
main #visual {
     /* 조건: ★ 비디오의 부모가 vh 또는 px 높이 설정 준비  */
    position:relative;
    height:100vh; overflow:hidden;
}
main #visual video {
    /* 화면 크기 조정시 비디오 중심축 맞추기 */
    /* 조건: ★ 비디오의 부모가 vh 또는 px 높이 설정 준비  */
    position:absolute; left:50%;
    transform:translateX(-50%);
}
main #visual .txt-box {
    width:100%; text-align:center;
    position:absolute; top:70%; z-index:999;
}
main #visual .txt-box h1 {
    font-size:3.157rem; font-weight:700; letter-spacing:-0.02em;
    color:#fff; margin:20px 0;  
}
main #visual .txt-box p {
    font-size:2.369rem; letter-spacing:-0.02em; color:#fff;
    line-height:60px;
}
main #visual .txt-box a {
    color:#fff; font-size:1.333rem; letter-spacing:-0.02rem; padding:10px 15px;
    border:2px solid #fff; border-radius:50px;
    display:inline-block; margin-top:20px;
}
main #visual .txt-box a .fa-solid {margin-left:5px;}
/* membership */
main #membership {width:70%; margin:0 auto;}
main #membership .title {
    display:flex; flex-flow:row nowrap; justify-content:space-between;
    margin-bottom:50px;
}
main #membership .title .left {text-align:left;}
main #membership .title .left h2 {font-size:1.777rem; margin-bottom:20px;}
main #membership .title .left p {}
main #membership .title .link {
    padding:10px; font-weight:500; align-self:flex-end;
}
main #membership .title .link .fa-solid {margin-left:5px;}
main #membership .box {
    display:flex; flex-flow:row nowrap;  justify-content:space-between;
    padding:0 50px;
}
main #membership .box .contents {
    display:flex; flex-flow:column nowrap;
    width:calc(25% - 70px); margin-right:70px;
}
main #membership .box .contents img {}
main #membership .box .contents em {
    letter-spacing:-0.02rem; font-weight:700; margin:15px 0 7px 0; 
}
main #membership .box .contents span {letter-spacing:-0.02rem;}