@media screen and (max-width:1440px){
    header .fix_top .nav_lnb nav a {font-size:1.25rem; padding:10px;}
}
@media screen and (max-width:1000px){
    /* header */
    header .gnb a {font-size: 0.875rem;}
    header .fix_top .nav_lnb nav a {font-size:1.1rem; padding:5px; margin-right:15px}
    /* 매인 슬라이드 */
    main #main_slide {width:100%; height:422px;}
    main #main_slide .swiper-wrapper .swiper-slide {
        background-image:url(../image/bnr_bg1_m.jpg);
    }
    main #main_slide .swiper-wrapper .swiper-slide .txt {
        position:absolute; left:70px; bottom:40px;
    }
    main #main_slide .swiper-wrapper .swiper-slide .txt h2,
    main #main_slide .swiper-wrapper .swiper-slide .txt h2 em {
        font-size:1.333rem; line-height:30px;
    }
    main #main_slide .swiper-wrapper .swiper-slide .txt p {
        font-size:1.125rem; line-height:30px; margin-bottom:10px; 
    }
    main #main_slide .swiper-wrapper .swiper-slide .txt a {
        width:180px; padding:5px 10px;
    }
    main #main_slide .swiper-wrapper .swiper-slide .txt a span {font-size:1.125rem; margin-right:10px;}
    /* 상품리스트 영역 */
    /* main section* {width:90%; height:150px;} */
    main section h2 {font-size:1.777rem;}


}